
body{
    background-color: LightCyan;
  }
hr{
    border-style: none;
    width: 5%;
    border-top: dotted;
    border-width: 5px;
    border-color: grey;
  }
h1{
  color: #58b4ae;
}
h2{
  color: #58b4ae;
}
h3{
  color: #58b4ae;
}
